{% extends 'base.html' %}
{% load staticfiles %}

{% block include_css %}
    <link href="{% static 'custom_auth/css/change_password.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="jumbotron col-sm-offset-4 col-sm-4">
        {% if form.errors %}
            <div class="alert alert-danger">Your passwords didn't match. Please try again.</div>
        {% endif %}
        <form class="form" method="post" action="{% url "password-change" %}">
            {% csrf_token %}
            <div class="form__row_margin">
                {{ form.old_password.label }}
                {{ form.old_password }}
            </div>
            <div class="form__row_margin">
                {{ form.new_password1.label }}
                {{ form.new_password1 }}
            </div>
            <div class="form__row_margin">
                {{ form.new_password2.label }}
                {{ form.new_password2 }}
            </div>
            <div class="">
                <button class="btn btn-default" type="submit">Войти</button>
                <input type="hidden" name="next" value="{% url "login" %}"/>
            </div>
        </form>
    </div>
{% endblock %}

{% block incluide_script %}
{#    <script src="{% static "auth/js/login.js" %}"></script>#}
{% endblock %}