html, body {
    min-height: 100%
}

.jumbotron {
    background-color: rgba(238, 238, 238, 0.8);
}

.form {
    width: 100%;
}

.form__row_margin {
    margin-bottom: 20px;
}

.form__row_margin input{
    width: 100%;
}